/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 25px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.deck {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  display: flex;
  padding: 15px;
  font-size: 2em;
  justify-content: center;
  align-items: center;

  margin: 1px;
  width: 70px;
  height: auto;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 8px 4px rgba(33,124,222,1);
  -moz-box-shadow: 0px 0px 8px 4px rgba(33,124,222,1);
  box-shadow: 0px 0px 8px 4px rgba(33,124,222,1);
  cursor: pointer;
}

.user-card:hover {
  -webkit-box-shadow: 0px 0px 8px 4px rgba(33,124,222,1);
  -moz-box-shadow: 0px 0px 8px 4px rgba(33,124,222,1);
  box-shadow: 0px 0px 8px 4px rgba(33,124,222,1);
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 7px;
  background-color: white;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
  .user-card {
    padding: 7px;
    font-size: 1.2em;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    min-width: 150px;
    text-align: center;
    flex-direction: column;
    user-select: none;
    height: auto;
    align-items: center;
    text-transform: capitalize;
    
    .user-vote {
      font-size: 2em;
    }
    
    .user-hidden-vote {
      font-size: 2em;
    }
  }
}

.action-panel {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 5px;
  justify-content: center;
  
  button {
    margin: 3px 3px;
  }
}

.room-list {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  
  a {
    padding: 20px;
    margin: 3px;
    background-color: #f8f5f5a9;
    border-radius: 6px;
    list-style-type: none;
    text-align: center;
    position: relative;
    
    b {
      position: absolute;
      left: calc(100% - 25px);
      top: 0;
    }
  }
}

.right-panel {
  display: flex;
  align-items: baseline;
  width: 100%;
  
  
  * {
    margin: 0px 5px;
  }
}

header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 5px;
}

@media (min-width: 0px) { /* Small devices (landscape phones, 576px and up) */
  header { 
    h1 {
      text-overflow: ellipsis;
      max-width: 150px;
      display: none;
    }
    
    h2 {
      font-size: 2rem;
    }
    
    .right-panel {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      .info {
        display: none;
      }
    }
  }
}

@media (min-width: 800px) {
  header { 
    h1 {
      text-overflow: ellipsis;
      max-width: 450px;
      display: block;
      width: 100%;
    }
    
    .right-panel {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      
      .info {
        display: block;
      }
    }
  }
}

@media (min-width: 0px) { 
  .info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    h3 {
      margin: 0px 3px;
    }
  }
}

@media (min-width: 800px) { 
  .info-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    h3 {
      margin: 0px 3px;
    }
  }
}

.timer {
  font-size: 3rem;
  
  .progress-ring {
    .progress-ring__circle {
      transition: 0.35s stroke-dashoffset;
      // axis compensation
      transform: rotate(-90deg);
    }
    
    input {
      position: fixed;
      top: 10px;
      left: 10px;
      width: 80px;
    }
  }
}