/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

h1 {
  font-size: 3.0rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

button {
  margin-bottom: 3px;
}

.card {
  padding: 10px;
  font-size: 1.5em;
  width: 70px;
  height: auto;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 8px 4px rgba(33,124,222,1);
  -moz-box-shadow: 0px 0px 8px 4px rgba(33,124,222,1);
  box-shadow: 0px 0px 8px 4px rgba(33,124,222,1);
  cursor: pointer;
}

.user-card:hover {
  -webkit-box-shadow: 0px 0px 8px 4px rgba(33,124,222,1);
  -moz-box-shadow: 0px 0px 8px 4px rgba(33,124,222,1);
  box-shadow: 0px 0px 8px 4px rgba(33,124,222,1);
  cursor: pointer;
}

.list {
  padding: 7px;
  background-color: white;
}

.user-card {
  padding: 7px;
  font-size: 1.2em;
  border: 1px solid black;
  margin: 5px;
  display: inline-block;
  min-width: 150px;
  text-align: center;
  user-select: none;
  height: auto;
  align-items: center;
  text-transform: capitalize;

  .user-vote {
    font-size: 2em;
  }

  .user-hidden-vote {
    font-size: 2em;
  }
}

.user-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.action-panel {
  h4 {
    margin: 0;
    margin-block-end: 0.83em;
  }
}

@media (min-width: 0px) {
  .xs {
    display: none;
  }

  .sm {
    display: block;
  }

  .room-list {
    font-size: 1.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    a {
      padding: 20px;
      margin: 3px;
      background-color: #f8f5f5a9;
      border-radius: 6px;
      list-style-type: none;
      text-align: center;
      position: relative;

      strong {
        text-transform: capitalize;
      }

      b {
        position: absolute;
        left: calc(100% - 25px);
        top: 0;
      }
    }
  }
}

@media (min-width: 0px) {
  .user-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@for $i from 2 through 6 {
  @media (min-width: #{$i*110 + 500}px) {
    .user-list {
      display: grid;
      grid-template-columns: repeat($i, 1fr);
    }

  }
}

@media (min-width: 870px) {
  .xs {
    display: block;
  }

  .sm {
    display: none;
  }

  .room-list {
    font-size: 1.5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    a {
      padding: 20px;
      margin: 3px;
      background-color: #f8f5f5a9;
      border-radius: 6px;
      list-style-type: none;
      text-align: center;
      position: relative;

      strong {
        text-transform: capitalize;
      }

      b {
        position: absolute;
        left: calc(100% - 25px);
        top: 0;
      }
    }
  }
}

.statistic {
  * {
    padding-left: 10px;
  }

  h2 {
    padding-left: 0px;
  }
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3px;

  h1 {
    margin-bottom: 0px;
    text-overflow: wrap;
  }
}

.right-panel {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  * {
    margin: 0 0 0 5px;
  }
}

.timer-panel {
  h4 {
    margin: 0;
    margin-block-end: 0.83em;
  }

  .timer-panel-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    button {
      width: 90px;
      text-align: center;
      padding: 0;
      margin: 3px 3px;
    }
  }
}

.timer {
  font-size: 2.7rem;

  position: fixed;
  bottom: -10px;
  right: 15px;

  .progress-ring {
    .progress-ring__circle {
      transition: 0.35s stroke-dashoffset;
      // axis compensation
      transform: rotate(-90deg);
    }

    input {
      position: fixed;
      top: 10px;
      left: 10px;
      width: 80px;
    }
  }
}

.timer-spacing {
  height: 100px;
}

.ln-container {
  a {
    font-size: 1em;
    margin: 2px;
    cursor: pointer;
    background-color: #fbfbfb;
  }
}

.deck {
  padding: 7px;
}